* {
  box-sizing: border-box;
}





section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}
section:nth-of-type(2n) {
  background-color: #2196f3;
}

.intro {
  height: 90vh;
}


.mSection {
  background-image: url('glass.jpg') !important;
}


.mContent {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
}
a:hover {
  opacity: 0.8;
}
a:active {
  top: 1px;
}

footer {
  margin-top: 14px;
  padding: 1% 5%;
  text-align: center;
  background-color: #373B44;
  color: white;
}
footer a {
  color: #FE4B74;
  font-weight: 500;
  text-decoration: none;
}

#cards {
  margin-top: 1%
}

.cook {
  background-color: #2196f3;
}

.white {
  color: white  !important;
}

.mImg {
  height: 217px !important;
}

#cookers {
  width:16rem;
}


#firstHead {
  font-size: 4rem !important;
}

.middleMenu {
  width: 32% !important;
}